body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

nav{
    background: cornflowerblue;
    
    max-width: 99.85%;
    margin-top: 0px;
    padding: 1px;
    border-color: blueviolet;
    border: 2px solid;
    border-radius: 5px;
}
.nav-ul{
    list-style: none;
    
    
}
.nav-li{
    list-style: none;
    display: inline;
    padding-left: 7px;
    margin-top: 0;
    
   
   
}

.brand{
    text-decoration: none;
    float: left;
    font-family: unset;
    font-size: 38px;
    margin: 0;
    line-height: 0.5;
    color:  #C71585;
}
.brand:hover{color:white}
.left-nav{
    font-size: 29px;
    float: right;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 10px;
    font-family: monospace;
    font-size: 25px;
    color: black;
    line-height: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    
}
.left-nav:hover{color:black;
background-color: white;

}

.post{
    max-width: ;
    max-height: 
}




.current {
       color:black;
background-color: white; 
}

div.land-div {
    background: #abcdef;
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99.995%;
    height: 300px;
    max-width: 100%
    max-height: 310px;
    text-align: center;
    padding-top: 5px;
   
}

#trans-btn{
    height: wrap-content;
    width: auto;
    border: 5px solid #fff;
    border-radius: 2px white;
    text-overflow: hidden;
    color: white;
    background-color: transparent;
    font-size: 38px;
}

#trans-btn:hover {
    font-size: 34px;
    font-style: bold;
    }

 .land-p {
    
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 100px;
   } 