body{
    padding: 0px;
    margin: 0px;
    background-color: #888590;
}

nav{
    background: cornflowerblue;
    
    max-width: 99.85%;
    margin-top: 0px;
    padding: 1px;
    border-color: blueviolet;
    border: 2px solid;
    border-radius: 3px;
}
.nav-ul{
    list-style: none;
    
    
}
.nav-li{
    list-style: none;
    display: inline;
    padding-left: 7px;
    margin-top: 0;
    
   
   
}

.brand{
    text-decoration: none;
    float: left;
    font-family: unset;
    font-size: 38px;
    margin: 0;
    line-height: 0.5;
    color:  #C71585;
}
.brand:hover{color:white}
.left-nav{
    font-size: 29px;
    float: right;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 10px;
    font-family: monospace;
    font-size: 25px;
    color: black;
    line-height: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    
}
.left-nav:hover{color:black;
background-color: white;

}

.post{
    max-width: ;
    max-height: 
}


.menu{
    display: none;
    height: 20px;
    width: 27px;
    margin-top: 0px;
   padding-top: 4px;
}



.current {
       color:black;
background-color: white; 
}

div.land-div {
    background: #abcdef;
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99.995%;
    height: 700px;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
    opacity: 0.75;
    margin: 0.5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

#trans-btn{
    height: wrap-content;
    width: auto;
    border: 5px solid grey;
    border-radius: 2px white;
    text-overflow: hidden;
    color: blue;
    background-color: transparent;
    font-size: 38px;
}

#trans-btn:hover {
    font-size: 34px;
    font-style: bold;
    }

 .land-p {
     text-align: center;
      font-size: 80px;
        vertical-align: center;
   } 

   .icon{
    display:none;
   }

   @media only screen and (max-width: 790px) {


   .nav-ul :not(:first-child){
    display: none;

   }
   #left-nav{
    float:none;
    display:block;
   }

   .nav-ul .icon {
    padding-right: 10px;
    height: 19px;
    width: 23px;
    float: right;
    visibility: visible;;
    display: block;
    color: black;
   }

   }

   @media only screen and (max-width: 390px;){
        .land-p{
            font-size: 50px;
        }

   }

.footer{
    height: auto;
    width: 100%;
    background-color: aqua;
    text-align: center;
    border-top: solid 3px white;
    margin-bottom: 0px;
}

.github-icon{
    font-size: 50px;
    padding-right: 35px; 
    color: black;
}
.codepen-icon{
    font-size: 50px;
     color: black;
}
button{
    background-color: transparent;
    border: 0px;
}

.div-2{
   padding-top: 10px;
    opacity: 0.75;
    margin: 2px;
    text-align: center;
    height: 600px;
    width: 100%;
    background-image: url("../images/cloudy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.footer-p{
    font-size: 15px;
    padding: 2px;
    margin-bottom: 0px;
}